/* Remove the default margin and padding from the body. */
body {
  padding: 0;
  margin: 0;
}


/* Set map, body, and html to 100% of the screen size. */
#map{
  height: 80%;
}

body,
html {
  height: 100%;
}
 .ex
 {
  margin:10px, 50px, 20px, 0;
  width:15%;
  padding:10px;
  border:outset;
 }
 select
 {
  display:inline;
  cursor:pointer;
 }
.ey
 {
  display:inline-block;
 } 
form{
    display:inline-block;
}
.gap
 {
  clear:both;
  margin-bottom:2px;
  }
